table {
  width: 100%;
  border: 2px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
}

td {
  border: 2px solid black;
}

th {
	border: 2px solid black;
    text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

td {
  text-align: center;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
}

#t4 {
	margin-top: 10px;
	margin-bottom: 10px
}

#t5 {
	margin-top: 10px;
	margin-bottom: 10px
}

.black-cell {
  background-color: black;
  color: white;
}
